<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmazonClient.AppCred" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AmazonClient.AppCred>
            <setting name="ClientId" serializeAs="String">
                <value>amzn1.application-oa2-client.502e569081ba4831b215e0a00bb65003</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
              <value>76c1b532a1753b6bc070d6031a02d89c02903de22e6dea3f16936864a4ac04f3</value>
            </setting>
            <setting name="RefreshToken" serializeAs="String">
              <value>Atzr|IwEBILFMMxq0CvbB97j8BbT8tk1JNqpfsAqzFGEYncUFqaXM2fKz14NKETtHjUrvhW9hCKufNelmB0_ieMm0n6qBYvl4Dyt-6BUwG_IuHVnuBONWl_rLtmJDQeyryygPQ0DpXrdyX7kUEMIqt89nvMSDbv9-bAl3LySsjy-fS1_fOMw2Xk2qkLj0k2XVmApMmotvROekHNUdMtmLpUe8lD0I5qFyIfbIt0Z3Wyd4AnZpuGojhvi_td9-dSyt1dj3OHtY0see8FRWmJZLzDy2744IGVl5JHSbppwvy5T1oh-0RLLwKw56n_2Jl6vxBfpw_QbMi1w</value>
            </setting>
            <setting name="Endpoint" serializeAs="String">
                <value>https://api.amazon.com/auth/o2/token</value>
            </setting>
            <setting name="AccessKeyId" serializeAs="String">
              <value>AKIARW6B67MQ65KDPF4U</value>
            </setting>
            <setting name="SecretKey" serializeAs="String">
              <value>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</value>
            </setting>
            <setting name="Region" serializeAs="String">
              <value>us-east-1</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
        </AmazonClient.AppCred>
    </userSettings>
</configuration>